.vscode/
.DS_Store
node_modules/

profile/images/
build-dev/
build-uat/
build-prod/

tests/
tests-examples/
playwright-report/
playwright/.cache/
test-results/
storybook-static/

.next/
.vercel/
public/
migrations/